@import "ds-neue/pattern-library/scss/neue.scss";

.campaign-finder {
  @include outer-container;
  @include fill-parent;
  background-color: $light-gray;
  @include pad(1rem 0);

  p {
    margin: 0;
    font-size: $font-small;
  }

  .facet-field {
    margin-left: 1.5rem;
  }
}

.dropdown-menu {
  display: none;
}

.open {
  .caret-toggle:before {
    margin-left: -1.5em;
    margin-right: .5em;
    margin-top: .25em;
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
  }

  .dropdown-menu {
    display: block;
  }
}

#campaign-results {
  position: relative;
  height: 600px;

  &.loading {
    &:before {
      content: ' ';
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.6);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    &:after {
      content: 'Loading...';
      position: absolute;
      top: 2em;
      left: 0;
      color: white;
      z-index: 2;
      font-size: 5em;
      width: 100%;
      text-align: center;
    }
  }
}

.campaign-result {
  position: relative;

  @include media($tablet) {
    width: 100%;
    height: 50%;
    background-size: cover;
  }

  .headline-wrapper {
    height: 66%;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include linear-gradient(to top, rgba(34,31,31,1), rgba(34,31,31,0), $fallback: transparent);

    .headline {
      position: absolute;
      bottom: 0;
      * {
        color: white;
      }
    }
  }
}

.caret-toggle {
  color: $purple;
  cursor: pointer;

  &:before {
    content: ' ';
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    border-left: .5em solid;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    margin-left: -1em;
    margin-right: .5em;
  }
}

.two-col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.toggle {
  background: white;
  padding: .5rem 1rem;
}

.toggle-lg {
  @include media($tablet) {
    @include span-columns(5);
    &:first-child {
      @include shift(1);
    }
  }
}

.toggle-sm {
  @include media($tablet) {
    @include span-columns(4);
  }
}

.multirow {
  @include media($tablet) {
    width: 25%;
    height: 600px;
    margin: 0;
    float: left;
  }
}

.single-result {
  @include media($tablet) {
    width: 50%;
    height: 600px;
    margin: 0;
    float: left;
    .campaign-result {
      height: 100%;
    }
  }
}
.template {
  display: none;
}

label.disabled {
  background: rgba(255, 0, 0, .3);
}